.image-popup {
  height: 100vh;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 1;
}
