.profile {
  margin: 0;
  padding: 0;
  max-width: 880px;
  padding: 40px 200px 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: 282px;
    padding: 42px 19px 0 19px;
    flex-direction: column;
  }
}
