.header__line {
  margin: 0;
  max-width: 880px;
  opacity: 0.7;
  border: none; /* Убираем границу для браузера Firefox */
  color: #545454; /* Цвет линии для остальных браузеров */
  background-color: #545454; /* Цвет линии для браузера Firefox и Opera */
  height: 1px; /* Толщина линии */
}
