.profile__info {
  margin: 0;
  padding: 0;
  height: 73px;
  display: flex;
  flex-wrap: wrap;
  padding: 22px 0 25px 30px;
  max-width: 336px;
}

@media screen and (max-width: 320px) {
  .profile__info {
    padding: 22px 19px 36px 19px;
    max-width: 282px;
    justify-content: center;
    height: 54px;
  }
}
